<h1>Library catalogue</h1>

<table class="table">
  <tr><td><%=link_to "Reservation", reservations_path%></td></tr>
  <tr><td><%=link_to "Clients", clients_path%></td></tr>
  <tr><td><%=link_to "Books", books_path%></td></tr>
  <tr><td><%=link_to "Authors", authors_path%></td></tr>
  <tr><td><%=link_to "Categories", categories_path%></td></tr>
  <tr><td><%=link_to "Librarians", librarians_path%></td></tr>
</table>

